/* Code for The Bubble Animation */

.bubbles {
	display: flex;
	width: 100%;
	justify-content: space-around;
	position: absolute;
	bottom: 0;

	/* Default values for duration and y value (For Desktop) */
	--transform-duration: 6s;
	--transform-y: -300vh;
}

.bubbles img {
	opacity: 0;
	animation-name: bubble;
	animation-timing-function: linear;
	animation-duration: var(--transform-duration);
	animation-iteration-count: infinite;
}

@keyframes bubble {
	0% {
		transform: translateY(0);
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	100% {
		transform: translateY(var(--transform-y));
		opacity: 1;
	}
}

/* Delay for each bubble separately (Desktop View)*/
.bubbles img:nth-child(1) {
	animation-delay: 2s;
}

.bubbles img:nth-child(2) {
	animation-delay: 5s;
}

.bubbles img:nth-child(3) {
	animation-delay: 3s;
}

.bubbles img:nth-child(4) {
	animation-delay: 6s;
}

.bubbles img:nth-child(5) {
	animation-delay: 1s;
}

.bubbles img:nth-child(6) {
	animation-delay: 4s;
}

.bubbles img:nth-child(7) {
	animation-delay: 6s;
}

/* Delay for each bubble separately (Mobile View) */
@media screen and (max-width: 650px) {
	.bubbles img:nth-child(1) {
		animation-delay: 0s;
	}

	.bubbles img:nth-child(2) {
		animation-delay: 10s;
	}

	.bubbles img:nth-child(3) {
		animation-delay: 6s;
	}

	.bubbles img:nth-child(4) {
		animation-delay: 12s;
	}

	.bubbles img:nth-child(5) {
		animation-delay: 2s;
	}

	.bubbles img:nth-child(6) {
		animation-delay: 8s;
	}

	.bubbles img:nth-child(7) {
		animation-delay: 13s;
	}

}



/* Code for the Animation in Footer .... Social Media Icons */

/* Properties for footer */
.footer {
        width: 100%;
        background: radial-gradient(circle at 20% 20%, #0a3a5c, #010c1a 65%);
        text-align: center;
        padding: 10px 0px;
        color: #b9ecff;
        box-shadow: 0 -10px 30px rgba(79, 224, 255, 0.15);
}

.footer span {
        color: #b9ecff;
        padding: 10px 0px;
}

.wrapper {
	margin: 5px;
}

.wrapper .social-media {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 0 5px;
        overflow: hidden;
        background: rgba(10, 73, 117, 0.6);
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 20px rgba(79, 224, 255, 0.25);
        transition: all 0.3s ease-out;
        border: 1px solid rgba(125, 255, 239, 0.3);
}

.wrapper .social-media:hover {
	width: 11rem;
	text-align: left;
}

/* To rotate icon by 360 degree */
.wrapper .social-media:hover i {
	transform: rotate(360deg);
}

.wrapper .social-media .icon {
        display: inline-block;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50px;
}

.wrapper .social-media .icon i {
        font-size: 25px;
        line-height: 50px;
        color: #e8feff;
        transition-duration: 0.8s;
        transition-property: transform;
}

/* Set Color for each Icon */
.wrapper .social-media:nth-child(1) .icon {
        background: linear-gradient(135deg, #3af3ff, #0d6bd4);
}

.wrapper .social-media:nth-child(2) .icon {
        background: linear-gradient(135deg, #1ec0ff, #0a3a5c);
}

.wrapper .social-media:nth-child(3) .icon {
        background: linear-gradient(135deg, #12e3ff, #0c4b7a);
}

.wrapper .social-media:nth-child(4) .icon {
        background: linear-gradient(135deg, #7dffef, #1f9bff);
}


.wrapper .social-media span {
        font-size: 20px;
        font-weight: 500;
        margin-left: 10px;
        transition: all 0.3s ease-out;
}

/* Set Color for each text */
.wrapper .social-media:nth-child(1) span {
        color: #6ff3ff;
}

.wrapper .social-media:nth-child(2) span {
        color: #7de6ff;
}

.wrapper .social-media:nth-child(3) span {
        color: #b9ecff;
}

.wrapper .social-media:nth-child(4) span {
        color: #6ff3ff;
}

/* To prevent animation in mobile view */
@media screen and (max-width: 500px) {
	.wrapper .social-media:hover {
		width: 50px;
	}
}